TZ=America/Sao_Paulo

APP_KEY=
APP_URL=127.0.0.1:8000
APP_ENV=production

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=cawe
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAIL_PORT=1025
MAIL_DASHBOARD_PORT=8025
APP_DEBUG=false

CERTBOT_EMAIL=seu-email@email.com
DOMAINS=site.dev,www.site.dev