TZ=America/Sao_Paulo

APP_KEY=
APP_URL=http://localhost
APP_ENV=production

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=cawe
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAIL_PORT=1025
MAIL_DASHBOARD_PORT=8025
APP_DEBUG=false

CERTBOT_EMAIL=seu-email@email.com
DOMAINS=site.dev,www.site.dev

GITHUB_TOKEN=ghp_seu_token_aqui
GITHUB_API_VERSION=2022-11-28